<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL_Receitas.Properties.Settings.cnDBProjeto" connectionString="Data Source=localhost;Initial Catalog=Projeto;Integrated Security=True" />
    </connectionStrings>
</configuration>